.wrapper {
    display: flex; 
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.label {
    color: var(--primary-colour);
    line-height: 1.6;
    font-size: 1.25rem;
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 0px;
}

.input {
    border: 2px solid var(--secondary-colour);
    border-radius: 2rem;
    overflow: hidden;
    padding: 10px 14px;
    font-size: 1rem;
    &::placeholder {
        color: var(--dark-grey);
    }
    &:focus {
        outline: 1px solid var(--primary-colour);
    }
}

@media screen and (min-width: 40em) {
    .label {
        font-size: 1.375rem;
    }
}
@media screen and (min-width: 64em) {
    .label {
        font-size: 1.5rem;
    }
}