.modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000005b;
    padding: 24px;
    overflow: auto;
}

.modalInner {
    border-radius: 2rem;
    background-color: var(--background-colour);
    min-height: 500px;
    border: 2px solid var(--border-alt-hover);
    overflow: auto;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
}

.userIcon {
    border-radius: 100%;
    margin: 0px auto;
}

.closeModal {
    background-color: var(--border-alt-hover);
    border-radius: 0px;
    font-weight: 700;
    border-bottom-left-radius: 20px;
    margin-left: auto;
    padding: 16px;
    color: var(--white);
    &:hover {
        background-color: var(--dark-grey);
        border-color: var(--dark-grey);
        color: var(--white);
    }
}

.textSection {
    display: flex;
    flex-direction: column;
    padding: 16px 20px 20px;
    gap: 10px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.userName {
    font-size: 1.625rem;
}

@media screen and (min-width: 40em) {
    .textSection {
        padding: 16px 30px 30px;
    }
}