.usersSection {
    display: flex;
    width: 100%;
    padding: 20px;
    flex: 1;
    max-height: 100dvh;
    height: 100%;
}

.sectionInner {
    overflow: auto;
    display: flex;        
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--background-colour-alt);
    width: 100%;
    border-radius: 40px;
    padding: 2rem;
    gap: 10px;
}

.leftWrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.filterRow {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.title {
    color: var(--text-dark);
    font-size: 2.25rem;
    line-height: 1.19;
}

.usersInner {
    display: flex;
    width: 100%;
    border: 2px solid var(--mid-grey);
    overflow: auto;
    border-radius: 2rem;
    max-height: 500px;
    min-height: 140px;
    background-color: var(--background-colour);
    height: 100%;
}

.loadErrorP {
    padding: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    color: var(--text-dark);
}

.clearButton {
    background-color: transparent;
    padding: 2px 4px;
    font-size: .875rem;
    border: none;
    &:hover {
        border: none;
        text-decoration: underline;
    }
}

@media screen and (min-width: 40em) {
    .sectionInner {
        border-radius: 4rem;
        padding: 2.5rem;
        height: 100%;
        max-height: 660px;
    }
    .title {
        font-size: 2.75rem;
    }
    .filters {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }
}
@media screen and (min-width: 64em) {
    .usersSection {
        padding: 1.25rem 3rem;
        justify-content: center;
        align-items: center;
    }
    .sectionInner {
        border-radius: 5rem;
        padding: 4rem;
        flex-direction: row;
    }
    .usersInner {
        max-height: 500px;
        height: 100%;
    }
    .title {
        font-size: 4rem;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (min-width: 81em) {
    .usersSection {
        padding: 1.25rem 5rem;
    }
    .sectionInner {
        border-radius: 8rem;
        padding: 5rem;
        max-width: 1280px;
    }
}