.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    .label {
        color: var(--black);
    }
}

.buttonWrap {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.roleButton {
    border-radius: 2rem;
    border: 2px solid var(--border-colour-alt);
    background-color: var(--white);
    padding: 10px 14px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--border-alt-hover);
    font-weight: 600;
    transition: all 0.2s ease;
    &.active,
    &:hover {
        border-color: var(--border-alt-hover);
    }
    &:focus {
        outline: 2px solid var(--outline-focus);
        border-color: var(--border-alt-hover);
    }
}

@media screen and (min-width: 40em) {
    .wrapper {
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
        justify-content: flex-end;
    }
}