:root {
    --primary-color: #8334C2;
    --secondary-color: #067f96;
    --tertiary-color: #21283B;
    --dark-grey: #595D6A;
    --white: #ffffff;
    --black: #000000;
    --text-main: var(--black);
    --text-secondary: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    height: 100%;
    background-color: var(--white);
    color: var(--text-main);
    width: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100%;
    background-color: var(--white);
}