:root {
    --primary-colour: #8334C2;
    --secondary-colour: #067f96;
    --tertiary-colour: #21283B;
    --dark-grey: #595D6A;
    --mid-grey: #c4c5cf;
    --light-grey: #F3F4F4;
    --white: #ffffff;
    --black: #000000;

    --background-colour: var(--white);
    --background-colour-alt: var(--light-grey);

    --text-colour: var(--black);
    --text-alt: var(--primary-colour);

    --border-colour: var(--dark-grey);
    --border-colour-alt: var(--mid-grey);
    --border-alt-hover: var(--secondary-colour);
    --outline-focus: #067e96;

    --input-background: var(--white);
    --input-colour: var(--black);
    --input-placeholder-colour: var(--dark-grey);

    --list-item-text: var(--dark-grey);
    --list-item-text-hover: var(--white);
    --list-item-hover: var(--tertiary-colour);
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark-grey: #282828;
        --text-colour: var(--white);
        --background-colour: var(--black);
        --background-colour-alt: var(--dark-grey);
        --text-alt: var(--white);

        --border-colour: var(--dark-grey);
        --border-colour-alt: var(--mid-grey);
        --border-alt-hover: var(--primary-colour);
        --outline-focus: #8234c296;

        --input-background: var(--dark-grey);
        --input-colour: var(--white);
        --input-placeholder-colour: var(--light-grey);

        --list-item-text: var(--white);
        --list-item-hover: #333333;
    }
}

@media screen and (min-width: 40em) {
    :root {
        --border-radius: 4rem;
    }
}
@media screen and (min-width: 64em) {
    :root {
        --border-radius: 5rem;
    }
}
@media screen and (min-width: 81em) {
    :root {
        --border-radius: 8rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: 2px solid var(--outline-focus);
    }
}

body, html, #root {
    height: 100%;
    background-color: var(--background-colour);
    color: var(--text-colour);
    width: 100%;
    font-family: Circular,Arial,sans-serif;
}

.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--background-colour);
    width: 100%;
    height: 100%;
}

.hidden {
    position: absolute;
    width: 1px; 
    height: 1px;
    padding: 0; 
    margin: -1px;
    overflow: hidden; 
    clip: rect(0 0 0 0);
    white-space: nowrap; 
    border: 0;
}